body {
    background-color: #EEEEEE;
}

.logo {
    text-align: center !important;
    margin: auto;
}

.container {
    margin: auto;
    max-width: 400px;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
}


.container .card h2 {
    text-align: center;
    font-size: 1.285rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5E5873;
}

.container .card h4 {
    text-align: center;
    font-size: 1.285rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5E5873;
    margin: -15px 0px 7px;
    font-style: italic;
    font-weight: lighter;
}

.container h4 {
    text-align: center;
    font-size: 1.085rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5E5873;
    margin: 0px 0px 7px;
    font-weight: lighter;
}

.container .status h4 {
    text-align: center;
    font-size: 1.285rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #5E5873;
    margin: -15px 0px 7px;
    font-style: italic;
    font-weight: lighter;
}

.container .status img {
    vertical-align: middle;
}

.container hr {
    color: #EBE9F1;
    background-color: currentColor;
    opacity: 1;
    margin: 7px 0px;
}

.container .tbody {
    border-color: inherit;
    border-style: solid;
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    font-family: Arial, Helvetica, sans-serif;
    color: #6E6B7B;
}

.container h6 {
    font-family:Arial, Helvetica, sans-serif;
    vertical-align: middle;
    unicode-bidi: isolate;
    font-size: 1.025rem;
    color: #6E6B7B;
}

.button-container {
    text-align: center; /* Untuk meletakkan tombol di tengah */
    margin-top: 20px; /* Untuk memberikan ruang atas */
}

.sub {
    padding: 10px 20px; /* Untuk memberikan padding pada tombol */
    background-color: #007bff; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Menghapus border tombol */
    border-radius: 5px; /* Membuat sudut melengkung pada tombol */
    cursor: pointer; /* Mengubah kursor saat mengarah ke tombol */
    font-size: 16px; /* Ukuran teks tombol */
}

.sub:hover {
    background-color: #0056b3; /* Warna latar belakang tombol saat dihover */
}
